﻿@{
    ViewBag.Title = "Home Page";
}

<div>
    <a href="#" id="getByState">Get By State</a>
    <a href="#" id="getByPosition">Get Nearest By Position</a>
</div>

<table id="codecamps" style="width: 700px">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Distance</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts {
    <script type="text/javascript">

        $(function () {

            if (!navigator.geolocation) {
                alert("This site requires HTML5 Geolocation support to work properly.");
                return;
            }

            $("#getByState").on("click", function () {
                
                navigator.geolocation.getCurrentPosition(function (position) {

                    $.ajax({
                        url: "/api/statesapi",
                        data: { latitude: position.coords.latitude, longitude: position.coords.longitude },
                        type: "GET",
                        success: function (data) {
                            if (!data) {
                                alert("Your current position is outside the US.");
                            } else {
                                LoadCodeCampsByState(data.StateNameShort);
                            }
                        }
                    });

                }, function () {
                    alert("There was an error getting your location.");
                });

            });

            $("#getByPosition").on("click", function () {

                navigator.geolocation.getCurrentPosition(function (position) {

                    LoadCodeCampsByPosition(position.coords.latitude, position.coords.longitude);

                }, function () {
                    alert("There was an error getting your location.");
                });

            });

        });

        function LoadCodeCampsByState(state) {
            $.ajax({
                url: "/api/codecampsapi",
                data: { state: state },
                type: "GET",
                success: function (data) {
                    $("#codecamps tbody").empty();

                    $.each(data, function (index, item) {
                        var tr = $("<tr />");

                        $("<td />").html(item.Name).appendTo(tr);
                        $("<td />").html(item.EventDateString).appendTo(tr);
                        $("<td />").html(item.City).appendTo(tr);
                        $("<td />").html(item.State).appendTo(tr);
                        $("<td />").html(item.Country).appendTo(tr);
                        $("<td />").html("0.00 miles").appendTo(tr);

                        tr.appendTo("#codecamps tbody");
                    });
                }
            });
        }

        function LoadCodeCampsByPosition(latitude, longitude) {
            $.ajax({
                url: "/api/codecampsapi",
                data: { latitude: latitude, longitude: longitude },
                type: "GET",
                success: function (data) {
                    $("#codecamps tbody").empty();

                    $.each(data, function (index, item) {
                        var tr = $("<tr />");

                        $("<td />").html(item.Name).appendTo(tr);
                        $("<td />").html(item.EventDateString).appendTo(tr);
                        $("<td />").html(item.City).appendTo(tr);
                        $("<td />").html(item.State).appendTo(tr);
                        $("<td />").html(item.Country).appendTo(tr);
                        $("<td />").html(item.DistanceMilesString + " miles").appendTo(tr);

                        tr.appendTo("#codecamps tbody");
                    });
                }
            });
        }

    </script>
}